---
---

// variables

$primary-font: 'Montserrat', sans-serif;
$alternate-font: 'Karla', sans-serif;
$handwritten: 'Caveat', sans-serif;
$serif: 'Merriweather', serif;
$primary: #eee;
$contrast:#333;
$red: #CF4537;
$blue: #5fa3b0;
$font-weight:100;

.serif {
  font-family:$serif;
}

.alt-font {
  font-family:$alternate-font;
}

.handwritten {
  font-family:$handwritten;
}

body {
    font-family: $primary-font;
    color: $contrast;
    background-color:#fff;
    font-weight:$font-weight;
}

.red {
  background-color: $red;
}

.blue {
  background-color: $blue;
}

.container {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
}

// typography

 b,strong {
   font-weight:900;
 }

  p,li {
    line-height:1.5;
  }

   h1,h2 {
     margin:1em 0;
     font-family:$primary-font;
     font-weight:$font-weight;
   }

   h3,h4,h5,h6 {
     margin:0.5em 0;
     font-family:$primary-font;
     font-weight:$font-weight;
   }

   h1 {font-size:2.5rem;}
   h2 {font-size:2.25rem;}
   h3 {font-size:1.75rem;}
   h4 {font-size:1.25rem;}
   h5 {font-size:1rem;}
   h6 {font-size:0.75rem;}

   p,li,label,input,select,span,button {
     font-family: $primary-font;
     font-weight:$font-weight;
   }

   .shadow {
     background:
         linear-gradient(
           rgba(0, 0, 0, 0.6),
           rgba(0, 0, 0, 0.6)
         );
   }

   .cover {
     background-repeat:no-repeat;
     background-size: cover;
     background-position:center center;
   }

// header

header {
  background-color:#fff;

  img#logo {height:56px;}

  nav.main {
    a {
      font-size:14px;
      text-decoration: none;
      font-family:$alternate-font;
      text-transform: uppercase;
      font-weight:bold;
      &:hover {
        text-decoration:underline;
      }
    }
    a.active {text-decoration:underline;color:#333;}
  }

  nav.mobile {
    a {
      color:white;
      font-size:18px;
      text-decoration: none;
      font-weight:bold;
      font-family:$alternate-font;
      text-transform: uppercase;
    }
    a.active {text-decoration:underline;color:white;}
  }

} // end header

.hero {
  h1 {font-size:4em;}
  h2 {font-size:2.5em;}
}

// main body

main {
  font-size:16px;

  .square {
    height:460px;

    .shadow {height:460px;}
  } // end square

  .product {
    .dark-red {color:#790604 }
    .title {min-height:70px;}
    img {
      height:220px;
      width:220px;
    }
    .description {
      min-height:170px;
    }
    .ingredients {
      min-height:180px;
    }
    .logo {height:50px;width:50px;}
  }

} // end main

footer {

  .container {
    font-family:$alternate-font;

    .logo {
      position:relative;
      width:300px;
      img {
        width:120px;
      }
      h3 {
        position:absolute;
        font-family: $alternate-font;
        top:10px;
      }
    }

    h3 {color:#fff}

    p {
      color:#fff;
      font-size:16px;
      line-height:1.5;
    }
    a {
      color:#fff;
      font-size:24px;
      line-height:1.5;
      &:hover {
        text-decoration: underline;
      }
    }
    .icon {
      position:relative;
      span {
        color:#eee;
        font-size:18px;
        margin-left:36px;
        line-height:1.5;
        display:block;
      }
      img {
        position:absolute;
        top:10px;
        width:24px;
      }
    }
    .social {
      img {width:32px;}
    }

  }

  .footer-bar {
    background-color:#222;
    img {
      width:72px;
    }
  }

}
