---
---

// variables

$primary-font: 'Montserrat', sans-serif;
$serif: 'Amatic SC', cursive;
$primary: #eee;
$contrast:#333;
$red: #CF4537;
$blue: #5fa3b0;
$font-weight:100;

body {
    font-family: $primary-font;
    color: $contrast;
    background-color:#fff;
    font-weight:$font-weight;
}

.red {
  background-color: $red;
}

.blue {
  background-color: $blue;
  color:#fff;
}

.container {
  max-width:1400px;
  margin-left:auto;
  margin-right:auto;
}

.handwritten {
  font-family:$serif;
}

// typography

  p,li {
    line-height:1.5;
  }

   h1,h2 {
     margin:1em 0;
     font-family:$primary-font;
     font-weight:$font-weight;
   }

   h3,h4,h5,h6 {
     margin:0.5em 0;
     font-family:$primary-font;
     font-weight:$font-weight;
   }

   h1 {
     font-size:2.5rem;
   }

   h2 {
     font-size:2.25rem;
   }

   h3 {
     font-size:1.75rem;
   }

   h4 {
     font-size:1.25rem;
   }

   h5 {
     font-size:1rem;
   }

   h6 {
     font-size:0.75rem;
   }

   p,li,label,input,select,span,button {
     color:$contrast;
     font-family: $primary-font;
     font-weight:$font-weight;
   }

// header

header {
  height: 750px;
  width:100%;
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center center;

  img {
    width:136px;
  }

  nav {
    a {
      color:#333;
      text-decoration:none;
      font-family:$serif;
      font-size:22px;
      line-height:1.5;
    }
    a:hover {text-decoration:underline;}
  }

  .mobile-nav {
    background-color:$blue;
    border-top:solid #666 1px;
    border-bottom:solid #666 1px;
    top:80px;
    a {
      color:#fff;
    }
  }

  .header {
    background-color:#fff;

    .nav-button {
      cursor:pointer;
      img {
        width:32px;
        height:32px;
      }
    }
  }

  .hero {
    height:670px;
    background:
        /* top, transparent black, faked with gradient */
        linear-gradient(
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        /* bottom, image */
        url();
    h2,h3 {
      color:#fff;
      text-shadow:1px 1px #000;
      font-size:4em;
      font-family: $serif;
    }

    h3 {font-size:3em;}

    .icon {
      position:relative;
      img {
        position:absolute;
        top:8px;
        width:40px;
      }
    }

    .container { // applies to all pages except the home page
      position:relative;
      h2 {
        font-size:3em;
        position:absolute;
        top:150px;
      }
    }
  }


} // end header

// main body

main {
  font-size:18px;

  .products-home {
    div {
      height:500px;
      background-repeat:no-repeat;
      background-size: cover;
      background-position:center center;
      &:hover {
        background:
          /* top, transparent black, faked with gradient */
          linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
          );
          h2,h3,p,span {display:block};
      }
      h2,h3,p,span {
        color:#fff;
        text-shadow:1px 1px #000;
        display:none;
      }
    }
  }

  .square {
    height:500px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center center;
    div {
      height:500px;
      background:
        /* top, transparent black, faked with gradient */
        linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        );
      &:hover {
        background:
          /* top, transparent black, faked with gradient */
          linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          );
      }
      h2,h3,p,span {
        color:#fff;
        text-shadow:1px 1px #000;
      }
      .icon {
        height:auto;
        background:none;
        position:relative;
        border:solid white 1px;
        border-radius:6px 6px;
        line-height:1.5;
        img {
          position:absolute;
          width:24px;
        }
      }
    }
  }

} // end main

footer {

  .container {
    font-family:$serif;

    .logo {
      position:relative;
      width:300px;
      img {
        width:120px;
      }
      h3 {
        position:absolute;
        font-family: $serif;
        top:10px;
      }
    }

    h3 {color:#fff}

    p {
      color:#fff;
      font-size:16px;
      line-height:1.5;
    }
    a {
      color:#fff;
      font-size:24px;
      line-height:1.5;
      &:hover {
        text-decoration: underline;
      }
    }
    .icon {
      position:relative;
      span {
        color:#eee;
        font-size:18px;
        margin-left:36px;
        line-height:1.5;
        display:block;
      }
      img {
        position:absolute;
        top:10px;
        width:24px;
      }
    }
    .social {
      img {width:32px;}
    }

  }

  .footer-bar {
    background-color:#222;
    img {
      width:72px;
    }
  }

}
