<footer>

  <div class="w-100 footer-bar ph4 pv3 flex flex-wrap items-center">
    <div class="w-100 w-60-l white f6 tc tl-l mv4 mv3-l">
      <span>&copy; 2019 Djodjo Kombucha</span>
    </div>
    <div class="w-100 w-40-l white mv3 flex items-center justify-center f6">
      <img class="pr2" src="/img/logo-bio-canada.png" alt="Certifié biologique Canada"/>
      <img class="pr2" src="/img/ecocert-red.png" alt="Certifié Écocert Canada"/>
      <span>Certifié par / Certified by Ecocert Canada</span>
    </div>
  </div>

</footer>
