<footer class="pa4 blue">

  <div class="container flex flex-wrap">
    <div class="w-100 tl">
      <div class="logo"><img class="dib mr3" src="/img/djodjo-white.png"/><h3 class="dib mv0">djodjo kombucha</h3></div>
    </div>
    <div class="w-100 tc tl-l ml2-l w-20-l mr5">
      <p>Production et distribution de kombucha biologique en vrac (fût libre-service) en Estrie.</p>
      <a href="#" class="social mr2"><img src="/img/icons/facebook.png" alt="Facebook"/></a>
      <a href="#" class="social mr2"><img src="/img/icons/instagram.png" alt="Instagram"/></a>
    </div>
    <div class="w-100 tc tl-l w-10-l pv2">
      <a href="#" class="link db">Mission</a>
      <a href="#" class="link db">Produits</a>
      <a href="#" class="link db">Points de vente</a>
      <a href="#" class="link db">Contact</a>
    </div>
    <div class="w-100 tc tl-l w-30-l pv2 pl4-l">
      <div class="db icon pt2"><img src="/img/icons/phone.png" alt="Telephone"/><span>{{site.data.settings.site_tel}}</span></div>
      <div class="db icon pt2"><img src="/img/icons/email.png" alt="Courriel"/><span>{{site.data.settings.site_email}}</span></div>
    </div>

  </div>

</footer>
