<footer class="blue">

  <div class="container flex flex-wrap pa4">
    <div class="w-100 tl pv2 w-30-l mr5-l">
      <div class="logo w-100 ml-auto mr-auto mh1-l">
        <img class="dib mr3" src="/img/djodjo-white.png"/><h3 class="dib mv0">djodjo kombucha</h3>
      </div>
      <p class="tc tl-l">Production et distribution de kombucha biologique en Estrie</p>
    </div>
    <div class="w-100 tc pv2 tl-l w-20-l">
      <a href="#" class="link db">Produits</a>
      <a href="#" class="link db">Points de vente</a>
      <a href="#" class="link db">Fournisseurs</a>
      <a href="#" class="link db">Articles</a>
      <a href="#" class="link db">Contact</a>
    </div>
    <div class="w-100 tc pv2 tl-l w-30-l">
      <div class="w5 tl ml-auto mr-auto mh0-l">
        <div class="db icon pt2"><img src="/img/icons/phone.png" alt="Telephone"/><span>{{site.data.settings.site_tel}}</span></div>
        <div class="db icon pt2"><img src="/img/icons/email.png" alt="Courriel"/><span>{{site.data.settings.site_email}}</span></div>
      </div>
    </div>

  </div>

  <div class="w-100 footer-bar pa3 fl">
    <span class="fl mt4 white">&copy; 2018 Djodjo Kombucha</span>
    <div class="fr">
      <img class="pr1" src="/img/logo-bio-canada.png" alt="Certifié biologique Canada"/>
      <img class="pr1" src="/img/createurs-de-saveurs.png" alt="Créateurs de saveurs - Cantons de l'Est"/>
      <img class="pr1" src="/img/ecocert.png" alt="Certifié Écocert Canada"/>
    </div>
  </div>

</footer>
