<header class="w-100 bb-l bw1-l b--light-gray">

    <div class="container flex flex-wrap justify-around">

      <div class="w-100 w-20-l tc tl-l">
        <a href="/" alt="Djodjo Kombucha">
          <img id="logo" class="pr5-l pl3-l" src="/img/djodjo-kombucha-logo.jpg" alt="Djodjo Kombucha"/>
        </a>
      </div>

      <div class="nav-button dn-l">
        <i id="burger-nav" class="fas fa-bars"></i>
        <i id="cancel-nav" class="fas fa-times"></i>
      </div>

      <nav class="main dn db-l tr mt4 pt1">
        {% for item in site.data.navigation.main_nav %}
          <a class="pr4 mid-gray {% if item.url == page.url %}active{% endif %}" href="{{item.url}}">{{item.title}}</a>
        {% endfor %}
      </nav>

      <nav class="mobile w-100 dn pv5 tc blue">
        {% for item in site.data.navigation.main_nav %}
          <a class="db pv3 {% if item.url == page.url %}active{% endif %}" href="{{item.url}}">{{item.title}}</a>
        {% endfor %}
      </nav>

  </div>
</header>

{% if page.layout == "home" %}

<div class="w-100 cover db dn-l" style="background-image:url('{{page.cover_mobile}}');">
  <div class="shadow cover-mobile pv3">

    <div class="container flex flex-wrap pv5 ph3 ph4-l tc">
      <h1 class="w-100 white ttu alt-font f2">{{page.slogan1}}</h1>
      <a class="w-100 white dib" href="{{page.cover_link}}" alt="{{page.slogan2}}">
        <h2 class="dib mv2 ttu alt-font f3">{{page.slogan2}}</h2>
        <i class="dib f3 ml2 fas fa-arrow-circle-right"></i>
      </a>
    </div>

  </div>
</div>

<div class="w-100 cover dn db-l" style="background-image:url('{{page.cover_site}}');">
  <div class="shadow cover-site pv3">

    <div class="container flex flex-wrap pv5 ph3 ph4-l tc">
      <h1 class="w-100 white ttu alt-font">{{page.slogan1}}</h1>
      <a class="w-100 white dib" href="{{page.cover_link}}" alt="{{page.slogan2}}">
        <h2 class="dib ttu alt-font">{{page.slogan2}}</h2>
        <i class="dib ml2 fas fa-arrow-circle-right"></i>
      </a>
    </div>

  </div>
</div>

{% else %}

<div class="w-100 cover" style="background-image:url('{{page.cover_image}}');">
  <div class="shadow pv3">

    <div class="container flex flex-wrap pv5 ph3 ph4-l tc">
      <h1 class="w-100 white ttu serif">{{page.title}}</h1>
      <h2 class="w-100 white ttu tracked f3">{{page.slogan}}</h2>
    </div>

  </div>
</div>

{% endif %}
