<div class="header w-100 pv2">
  <div class="container w-100 flex flex-wrap">
    <a class="w-80 w-auto-l pl3 pr5" href="/"><img class="mv0" src="img/djodjo-kombucha.png" alt="{{site.data.settings.site_title}}"/></a>

    <nav class="main-nav w-70 pv3 dn dib-l tl">
      <a href="#" class="link ttu tracked b mr4">Produits</a>
      <a href="#" class="link ttu tracked b mr4">Points de vente</a>
      <a href="#" class="link ttu tracked b mr4">Fournisseurs</a>
      <a href="#" class="link ttu tracked b mr4">Articles</a>
      <a href="#" class="link ttu tracked b">Contact</a>
    </nav>

    <div class="nav-button w-20 tr dn-l">
      <img alt="MENU" src="/img/icons/nav-menu.svg" class="mt3 mr3"/>
    </div>

    <nav class="mobile-nav w-100 tc pv2 dn absolute">
      <a href="#" class="db w-40 ml-auto mr-auto link pv3 ttu tracked b">Produits</a>
      <a href="#" class="db w-40 ml-auto mr-auto link pv3 ttu tracked b">Points de vente</a>
      <a href="#" class="db w-40 ml-auto mr-auto link pv3 ttu tracked b">Fournisseurs</a>
      <a href="#" class="db w-40 ml-auto mr-auto link pv3 ttu tracked b">Articles</a>
      <a href="#" class="db w-40 ml-auto mr-auto link pv3 ttu tracked b">Contact</a>
    </nav>

  </div>
</div>
