<div class="header w-100 pv2">
  <div class="container w-100 flex flex-wrap">
    <a class="pl3 pr5" href="/"><img class="mv0" src="img/djodjo-kombucha-2.jpg" alt="{{site.data.settings.site_title}}"/></a>

    <nav class="main-nav w-70 pv3 dn dib-l tl">
      <a href="#" class="link ttu tracked b mr4">Mission</a>
      <a href="#" class="link ttu tracked b mr4">Produits</a>
      <a href="#" class="link ttu tracked b mr4">Points de vente</a>
      <a href="#" class="link ttu tracked b mr4">Contact</a>
    </nav>

    <div class="nav-button w-20 tr dn-l">
      <img alt="MENU" src="/img/icons/nav-menu.svg" class="mt3 mr3"/>
    </div>
  </div>
</div>
