---
layout: default
---

<header style="background-image:url('{{page.cover_image}}');">

{% include nav.html %}

      <div class="hero w-100 dt vh-100 tc tl-l pb5">
        <div class="dtc v-top">
          <a href="{{page.cover_link}}" class="link">
            <h2 class="ttu tracked b ml5-l">{{page.slogan1}}</h2>
            <div class="icon">
              <h3 class="mv0 ml2 ml5-l mr3 dib">{{page.slogan2}}</h2>
              <img src="img/icons/arrow-right.png"/>
            </div>
          </a>
        </div>
      </div>

</header>

    <main class="w-100">

      <div class="w-100 pv5 blue">
        <h2 class="handwritten tc f1 mv0 b">Nos produits</h2>
      </div>

      <div class="w-100 products-home flex flex-wrap">

        {% for item in page.products %}

        <div class="w-100 w-50-ns w-25-l dt vh-100 tc" style="background-image:url('{{item.product_image}}')">
          <a href="{{item.product_link}}" class="link">
            <div class="dtc v-top pa4 w-50 w-25-l">
              <h2 class="handwritten mb4 f1 tc-l">{{item.product_name}}</h2>
              <p>{{item.product_desc}}</p>
            </div>
          </a>
        </div>

        {% endfor %}

      </div> <!-- end products -->

      <div class="w-100 flex flex-wrap">

        <div class="w-100 w-50-l tc blue pv3 ph5">
              <h2 class="handwritten mb4 f1 b">À PROPOS DE NOUS</h2>
              <p class="white f4 b">Djodjo Kombucha, c’est une jeune entreprise innovante se voulant devenir un créateur de saveur tout en étant un acteur de changement avec des pratiques entrepreneuriales éthiques et écoresponsables. Elle a été fondée par Joël Gagnon, bachelier en ingénierie passionné par la fermentation et l'amélioration de notre qualité de vie sous toutes ses formes.
</p>
        </div>

        {% for item in page.square %}

        <div class="square w-100 w-50-l dt vh-100 tc" style="background-image:url('{{item.square_image}}')">
          <a href="{{item.square_link}}" class="link">
            <div class="dtc v-top pv4 ph5">
              <h2 class="handwritten mb4 f1 tc-l">{{item.square_name}}</h2>
              <p>{{item.square_desc}}</p>
              <div class="icon ml-auto mr-auto w-90 w-60-l pa3">
                <span class="mr2 b">{{item.square_link_desc}}</span>
                <img src="img/icons/arrow-right.png"/>
              </div>
            </div>
          </a>
        </div>

        {% endfor %}

      </div> <!-- end square -->

    </main> <!-- end main -->

{% include footer.html %}
