---
layout: default
---

<header style="background-image:url('img/drink1.jpg');">

{% include nav.html %}

      <div class="hero w-100 dt vh-100 tc tl-l pb5">
        <div class="dtc v-mid">
          <a href="#" class="link">
            <h2 class="ttu tracked b ml5-l">L'alternative santé</h2>
            <div class="icon">
              <h3 class="mv0 ml2 ml5-l mr3 dib">5 saveurs disponibles</h2>
              <img src="img/icons/arrow-right.png"/>
            </div>
          </a>
        </div>
      </div>

</header>

    <main class="w-100">

      <div class="w-100 pv4">
        <h2 class="handwritten tc f1 mv0">Nos produits</h2>
      </div>

      <div class="products-home flex flex-wrap">

        <div class="w-50 w-25-l dt vh-100 tc" style="background-image:url('img/hibiscus.jpg')">
          <a href="#" class="link">
            <div class="dtc v-top pv4 ph5 w-50 w-25-l">
              <h2 class="handwritten mb4 f1 tc-l">Hibiscus et rose</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
          </a>
        </div>

        <div class="w-50 w-25-l dt vh-100 tc" style="background-image:url('img/houblons.jpg')">
          <a href="#" class="link">
            <div class="dtc v-top pv4 ph5 w-50 w-25-l">
              <h2 class="handwritten mb4 f1 tc-l">Houblons et café</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
          </a>
        </div>

        <div class="w-50 w-25-l dt vh-100 tc" style="background-image:url('img/bleuets.jpg')">
          <a href="#" class="link">
            <div class="dtc v-top pv4 ph5 w-50 w-25-l">
              <h2 class="handwritten mb4 f1 tc-l">Bleuets et schizendra</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
          </a>
        </div>

        <div class="w-50 w-25-l dt vh-100 tc" style="background-image:url('img/menthe.jpg')">
          <a href="#" class="link">
            <div class="dtc v-top pv4 ph5 w-50 w-25-l">
              <h2 class="handwritten mb4 f1 tc-l">Menthe et thé vert</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
          </a>
        </div>

      </div>

      <div class="flex flex-wrap">

        <div class="grow square w-100 w-50-l dt vh-100 tc" style="background-image:url('img/kombucha.jpg')">
          <a href="#" class="link">
            <div class="dtc v-top pv4 ph5">
              <h2 class="handwritten mb4 f1 tc-l">Notre mission</h2>
              <p>Rendre accessible à la population un produit écoresponsable et éthique en offrant une alternative santé tout aussi festive et savoureuse que les boissons gazeuses ou alcoolisés en plus d'encourager les agriculteurs biologiques locaux.</p>
              <div class="icon ml-auto mr-auto w-90 w-60-l pa3">
                <span class="mr2 b">En savoir plus sur nous</span>
                <img src="img/icons/arrow-right.png"/>
              </div>
            </div>
          </a>
        </div>

        <div class="grow square w-100 w-50-l dt vh-100 tc" style="background-image:url('img/sherby.png')">
          <a href="#" class="link">
            <div class="dtc v-top pv4 ph5">
              <h2 class="handwritten mb4 f1 tc-l">Points de vente</h2>
              <p>Nos produits sont présentement disponibles en vrac à 5 points de ventes (Sherbrooke, Laval, Longueuil et Montréal). Notre kombucha est distributée en fût afin de favoriser la réutilisation et d'offrir un prix compétitif.</p>
              <div class="icon ml-auto mr-auto w-90 w-60-l pa3">
                <span class="mr2 b">Voir nos points de vente</span>
                <img src="img/icons/arrow-right.png"/>
              </div>
            </div>
          </a>
        </div>

      </div>

    </main> <!-- end main -->

{% include footer.html %}
