---
layout: default
---

{% include header.html %}

<main class="container pv3 ph3 pv4-l ph5-l">

  {{content}}

  {% for item in page.partenaires %}

  <div class="w-100 fournisseur flex flex-wrap pt5">

    <div class="w-100 w-third-l tr">
      <img src="{{item.image}}" alt="{{item.title}}"/>
    </div>
    <div class="w-100 w-two-thirds-l pl5-l">
      <h3 class="ttu f3 mt0 mb4">{{item.title}}</h3>
      <span class="gray f5">
      {{item.desc | markdownify}}
    </span>
    </div>

  </div>

  {% endfor %}

</main>

{% include footer.html %}
