---
layout: default
---

{% include header.html %}

<main class="bg-moon-gray pv3 ph3 pv4-l ph5-l" style="background-image:url('/img/bg.png');">

  <div class="container flex flex-wrap">

    <div class="w-100 w-30-l">

      <div class="mv4">
        <h4 class="alt-font b">Café Campus</h4>
        <span class="lh-title">57 Rue Prince Arthur E<br/>Montréal, QC H2X 1B4</span>
        <a class="db mv2 light-blue link" href="https://www.cafecampus.com/">www.cafecampus.com</a>
      </div>

      <div class="mv4">
        <h4 class="alt-font b">Coop La Maison Verte</h4>
        <span class="lh-title">5785 Sherbrooke St W<br/>Montreal, QC H4A 1X2</span>
        <a class="db mv2 light-blue link" href="http://www.cooplamaisonverte.com/">www.cooplamaisonverte.com</a>
      </div>

      <div class="mv4">
        <h4 class="alt-font b">Rachelle-Béry</h4>
        <span class="lh-title">4810 Boul St-Laurent<br/>Montréal, QC H2T 1R5</span>
        <a class="db mv2 light-blue link" href="https://www.rachellebery.ca/">www.rachellebery.ca</a>
      </div>

    </div>

    <div class="w-100 w-70-l">
      <iframe
      width="100%"
      height="100%"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAfrnzmTX6xsf41GRgJnqzIjaXW_-z337o&q=record+stores+in+Seattle" allowfullscreen>
      </iframe>
    </div>

  </div>


</main>

{% include footer.html %}
