---
layout: default
---

{% include header.html %}

<main class="bg-moon-gray pv3 ph3 pv4-l ph5-l" style="background-image:url('/img/bg.png');">

  <div class="container flex flex-wrap">

    <div class="w-100 w-30-l">

      {% for location in page.locations %}

      <div class="mv4">
        <h4 class="alt-font b">{{location.title}}</h4>
        <span class="lh-title">{{location.address_1}}<br/>{{location.address_2}}</span>
        <a class="db mv2 light-blue link" href="{{location.url}}">{{location.url_text}}</a>
      </div>

      {% endfor %}

    </div>

    <div class="w-100 w-70-l" id="map">

    </div>

  </div>


</main>

<script>
var map;
function initMap() {
  {% for location in page.locations %}
    var myLatlng{{ forloop.index }} = new google.maps.LatLng({{location.lat}},{{location.long}});
    var infowindow{{ forloop.index }} = new google.maps.InfoWindow({
      content: '<h4>{{location.title}}</h4>'+
      '<strong>{{location.address_1}}<br/>{{location.address_2}}</strong>'
    });
  {% endfor %}
  var mapOptions = {
    zoom: 10,
    center: new google.maps.LatLng(45.714432, -72.279542)
  };
  var map = new google.maps.Map(document.getElementById("map"), mapOptions);
  {% for location in page.locations %}
    var marker{{ forloop.index }} = new google.maps.Marker({
        position: myLatlng{{ forloop.index }},
        map:map,
        title: "{{location.title}}"
    });
    marker{{ forloop.index }}.addListener('click', function() {
      infowindow{{ forloop.index }}.open(map, marker{{ forloop.index }});
    });
  {% endfor %}
};
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfrnzmTX6xsf41GRgJnqzIjaXW_-z337o&callback=initMap"
    async defer></script>

{% include footer.html %}
