---
layout: default
---

{% include header.html %}

<main class="container flex flex-wrap pl3 pt3">

  {% for item in page.product %}

  <div class="product w-100 w-50-l pa4">
    <div class="tc">
      <img class="br-100" src="{{item.image}}" alt="{{item.title}}"/>
      <div class="title tl">
        <h4 class=" mt4 serif b dark-red">{{item.title}}</h4>
        <span class="ttu f6 gray">Biologique</span>
      </div>
      <div class="description tl">
        <p>{{item.desc}}</p>
      </div>
      <div class="ingredients tl gray f6 mt2">
        {{item.ingredients | markdownify}}
      </div>
    </div>
    <div class="flex items-center">
      <img class="logo dib" src="/img/logo-bio-canada.png"/>
      <img class="logo dib pl1" src="/img/ecocert.png"/>
      <span class="pl2 f6 gray dib">Certifié par / Certified by Ecocert Canada</span>
    </div>
  </div>

  {% endfor %}

</main>

{% include footer.html %}
