---
layout: default
---
{% include header.html %}

<main class="container pv3 ph3 pv4-l ph5-l flex flex-wrap">

  <div class="w-100 w-80-l publication flex flex-wrap pr4 ml-auto mr-auto">
    <div class="w-100">
      <h2 class="ttu tracked f3 tc mv3">{{page.post_title}}</h2>
      <hr/>
      <span class="db f6 gray i tc mv3">Publié le {{page.post_date | date: "%d/%m/%Y"}}</span>
    </div>

    <div class="w-100 w-30-l mv4 pv3">
      <img src="{{page.post_image}}" alt="{{page.post_title}}"/>
    </div>
    <div class="w-100 w-70-l mv4 pl4 f6">
      {{content}}
    </div>

    <div class="w-100">
      <img class="mv3" src="{{page.recette_image}}" alt="{{page.post_title}}"/>
    </div>

  </div>

  <div class="w-100 w-80-l ph3 tc ba b--light-gray publication-thumb ml-auto mr-auto">
    <h2 class="ttu tracked f3">Autres articles</h2>
    <hr/>

    <div class="flex flex-wrap">
    {% for item in site.publications %}

      {% if item.post_title != page.post_title %}
      <div class="w-100 w-33-l mv3 pa3">
        <div class="w-100 post-image cover" style="background-image:url('{{item.post_image}}')">
          <a class="link" href="{{item.url}}" alt="{{item.title}}"></a>
        </div>
        <div class="w-100 tc mv3">
          <a class="link" href="{{item.url}}" alt="{{item.title}}">
            <h3 class="ttu tracked dark-gray f5 mv3">{{item.post_title}}</h3>
          </a>
        </div>
      </div>
      {% endif %}

    {% endfor %}
    </div>

  </div>

</main>

{% include footer.html %}
